@model SmartFleet.Domain.ViewModel.Transporte;
@{
    ViewBag.Title = "Pesquisar Relatório de Solicitação de Veículo";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Current = " Relatórios / Solicitação de Veículo / Pesquisar";
}

<form id="formPesquisar" class="form" role="form">
    <section class="panel panel-default">
        <article class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => x.IdeSolicitante, new { @class = "control-label" })
                        <select class="form-control" 
                                id="IdeSolicitante"
                                name="IdeSolicitante"
                                asp-for="IdeSolicitante" 
                                asp-items="ViewBag.Solicitante">
                            <option value="">Selecione</option>
                        </select> 
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group has-feedback">
                        @Html.LabelFor(x => x.DthSolicitacaoInicio, new { @class = "control-label" })
                        @Html.TextBoxFor(x => x.DthSolicitacaoInicio, null, new
                        {
                            @class = "form-control datePick",
                            @data_language = "pt-BR",
                            @data_mask = "99/99/9999",
                            @Placeholder = "__/__/____",
                            @data_date_format = "dd/mm/yyyy",
                            @data_data_min_view_mode = "days",
                            @data_date_start_view = "month",
                            @data_date_start_date = String.Format("{0:dd/mm/yyyy}", DateTime.MinValue)
                        })
                        <span class="form-control-feedback datepicker-click" style="cursor:pointer"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group has-feedback">
                        @Html.LabelFor(x => x.DthSolicitacaoFim, new { @class = "control-label" })
                        @Html.TextBoxFor(x => x.DthSolicitacaoFim, null, new
                        {
                            @class = "form-control datePick",
                            @data_language = "pt-BR",
                            @data_mask = "99/99/9999",
                            @Placeholder = "__/__/____",
                            @data_date_format = "dd/mm/yyyy",
                            @data_data_min_view_mode = "days",
                            @data_date_start_view = "month",
                            @data_date_start_date = String.Format("{0:dd/mm/yyyy}", DateTime.MinValue)
                        })
                        <span class="form-control-feedback datepicker-click" style="cursor:pointer"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>                 
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => x.IdeVeiculo, new { @class = "control-label" })
                        <select class="form-control" 
                                id="IdeVeiculo"
                                name="IdeVeiculo"
                                asp-for="IdeVeiculo" 
                                asp-items="ViewBag.Veiculo">
                            <option value="">Selecione</option>
                        </select> 
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => x.IdeMotorista, new { @class = "control-label" })
                        <select class="form-control" 
                                id="IdeMotorista"
                                name="IdeMotorista"
                                asp-for="IdeMotorista" 
                                asp-items="ViewBag.Motorista">
                            <option value="">Selecione</option>
                        </select> 
                    </div>
                </div>
            </div>
        </article>
        <footer class="panel-footer">
            <button type="button" class="btn btn-primary btnPesquisar"><i class="fa fa-search"></i> Pesquisar</button>
            <button type="button" class="btn btn-default btn-reset-form" data-loading="false"><i class="fa fa-eraser"></i> Limpar</button>
            <div class="pull-right">
                <a href=@Url.Action("Imprimir", "Transporte") id="btnRelatorio" target="_blank" class="btn btn-s-md btn-success hide" data-loading="false"><i class="fa fa-file-excel-o"></i> Relatório</a>
            </div>
        </footer>
    </section>
</form>

<!--Datatable Pesquisar-->
<form id="form-result" class="form" role="form">
    <div class="panel panel-default hide datatable table-responsive">
        <table id="gridResultado"
               class="table table-striped b-t b-light table-bordered table-hover datatable"
               data-crud="false"
               data-form-id="formPesquisar"
               data-object-id="ideTransporte"
               data-controller="Transporte"
               data-function-column="onColumnGrid"
               data-function-callback="onData"
               data-columns-data="solicitante.nomColaborador,dthSolicitacao,veiculo.dscMarcaModelo,motorista.nomColaborador,dscStatus"
               data-columns-title="Solicitante,Data do Agendamento,Veículo,Motorista,Status">
        </table>
    </div>
</form>

@section customsJs {
    <script type="text/javascript">
        var validator = $( "#formPesquisar" ).validate();
        validator.resetForm();

        $(".form_datetime").datetimepicker({
            language:  "pt-BR",
            format: "dd/mm/yyyy hh:ii",
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1
        });
        $(".form_datetime").mask("99/99/9999 99:99");
        $(".form_datetime").datetimepicker("update");

        function onColumnGrid(data) 
        {
            //data.columns[0].width = "25%";
            return data;            
        }
        function onData(data) 
        {
            $("#btnRelatorio").addClass("hide");
            if (data.length > 0) {
                $("#btnRelatorio").removeClass("hide");
            }
        }

    </script>
}
